---
layout: default
---

<div class="main-post-list hidden">

  <ol class="post-list">
    <!--置顶-->
    {% for post in site.posts %}
      {% if post.istop %}
        {% if paginator.page == 1 %}
        <li>
          <h2 class="post-list__post-title post-title"><a href="{{ post.url }}" title="访问 {{ post.title }}">[置顶]{{ post.title }}</a></h2>
          <p class="excerpt">{{ post.content | strip_html | strip_newlines | truncate: 260 }}&hellip;</p>
          <div class="post-list__meta"><time datetime="{{post.date | date: date_to_xmlschema}}" class="post-list__meta--date date">{{ post.date | date: "%F"}}</time> &#8226; <span class="post-list__meta--tags tags">{{ post.category }}</span> <a class="btn-border-small" href={{ post.url }}>继续阅读</a></div>
          <hr class="post-list__divider" />
        </li>
        {% endif %}
      {% endif %}
    {% endfor %}
    <!--普通文档流-->
	<div class="navigation-wrapper">
          <div>
            <nav class="cover-navigation cover-navigation--primary">
              <ul class="navigation">
                <li class="navigation__item"><a href="/#blog" title="访问博客" class="blog-button">博客</a></li>
                
                  
                    <li class="navigation__item"><a href="https://github.com/huangluzhi" target="_blank" title="huangluzhi's GitHub">GitHub</a></li>
                  
                  
                
                  
                    <!--<li class="navigation__item"><a href="/timeline" title="博客目录">目录</a></li>-->
                  
                  
                
                  
                    <li class="navigation__item"><a href="http://188.131.224.117:50041" target="_blank" title="FSAESIM Assetto Corsa 模拟竞速计时系统">FSAESIM</a></li>
                  
                  
                
                  
                    <!--<li class="navigation__item"><a href="/category/customview" title="自定义View教程目录">自定义控件</a></li>-->
                  
                  
                
                  
                    <!--这是单行注释<li class="navigation__item"><a href="/friends" title="友链">友链</a></li>-->
                  
                  
                
              </ul>
            </nav>
          </div>
          
          <div><nav class="cover-navigation navigation--social">
  <ul class="navigation">

  
  <!-- Weibo -->
  <li class="navigation__item">
    <a href="http://weibo.com/Yellowluzhi" title="@Yellowluzhi 的微博" target="_blank">
      <i class='social fa fa-weibo'></i>
      <span class="label">Weibo</span>
    </a>
  </li>
  

  
  <!-- Github -->
  <li class="navigation__item">
    <a href="https://github.com/huangluzhi" title="@Huangluzhi 的 Github" target="_blank">
      <i class='social fa fa-github'></i>
      <span class="label">Github</span>
    </a>
  </li>
  
  
  
  <!-- Twitter 
  <li class="navigation__item">
    <a href="http://twitter.com/GcsSloop" title="@Yellowluzhi" target="_blank">
      <i class='social fa fa-twitter'></i>
      <span class="label">Twitter</span>
    </a>
  </li>
  -->

    

  

  
  <!-- RSS 
  <li class="navigation__item">
    <a href="/feed.xml" rel="author" title="RSS" target="_blank">
      <i class='social fa fa-rss'></i>
      <span class="label">RSS</span>
    </a>
  </li>
  -->

  
  <!-- Email -->
  <li class="navigation__item">
    <a href="314726262@qq.com" title="发邮件给我">
      <i class='social fa fa-envelope'></i>
      <span class="label">Email</span>
    </a>
  </li>
  

  
  <!-- Copyright -->
  <li class="navigation__item">
    <a href="http://choosealicense.online" title="选择版权"  target="_blank">
      <i class="social fa fa-copyright"></i>
      <span class="label">版权</span>
    </a>
  </li>
  
  
  </ul>
</nav>
</div>
        </div>
    {% for post in paginator.posts %}
    {% if post.hide %}
    {% else %}
      <li>
        <h2 class="post-list__post-title post-title"><a href="{{ post.url }}" title="访问 {{ post.title }}">{{ post.title }}</a></h2>
        <p class="excerpt">{{ post.content | strip_html | strip_newlines | truncate: 260 }}&hellip;</p>
        <div class="post-list__meta"><time datetime="{{post.date | date: date_to_xmlschema}}" class="post-list__meta--date date">{{ post.date | date: "%F"}}</time> &#8226; <span class="post-list__meta--tags tags">{{ post.category }}</span> <a class="btn-border-small" href={{ post.url }}>继续阅读</a></div>
        <hr class="post-list__divider" />
      </li>
    {% endif %}
    {% endfor %}
  </ol>

  {% include pagination.html %}

</div>

